.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2rem;
}


.allProducts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
}

.pagesNumber{
    display: flex;
    gap: 15px;
}

.pagesNumber > button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

.active{
    color: white;
    background-color: gray;
}